<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<meta name="yandex-verification" content="15e1d06949e5017b" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script async type="text/javascript" src="catalog/view/javascript/jquery.mousewheel.min.js"></script>
<script async type="text/javascript" src="catalog/view/javascript/jquery.plugin.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery.mask.min.js"></script>
<script async src="catalog/view/javascript/scripts.js"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/hamburgers.min.css">
<link href="catalog/view/theme/default/stylesheet/stylesheet.css?v={{ random() }}" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<link rel="apple-touch-icon" sizes="180x180" href="/image/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/image/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/image/icons/favicon-16x16.png">
<link rel="manifest" href="/image/icons/site.webmanifest">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
{% set currentPath = og_url|split('/')|last|replace({'/': ''}) %}
<body>
<div itemscope itemtype="http://schema.org/Organization" style="display: none!important;">
  <span itemprop="name">{{ name }}</span>
  {% if schema_address %}
    Контакты:
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      Адрес:
      <span itemprop="addressCountry">{{ schema_address[0] }}</span>
      <span itemprop="addressRegion">{{ schema_address[1] }}</span>
      <span itemprop="addressLocality">{{ schema_address[2] }}</span>
      <span itemprop="streetAddress">{{ schema_address[3] }}</span>
      <span itemprop="postalCode">{{ schema_address[4] }}</span>
    </div>
  {% endif %}
  Телефон:<span itemprop="telephone">{{ telephone }}</span>,
  Электронная почта: <span itemprop="email">{{ email }}</span>
</div>
<header>
  <nav class="caption">
    <div class="container">
      <div class="nav-menu flex-container flex-center flex-justify">
        <div class="flex-list flex-container flex-center flex-justify-mobile">
          <p class="location"><span>Хабаровск</span></p>
          <div class="flex-list">
            <a href="about">О нас</a>
            <a href="{{ contact }}">Контакты</a>
            <a href="buyers">Покупателям</a>
          </div>
        </div>
        <div class="flex-container flex-list flex-center right hide-mobile">
          <a class="nav-telephone" href="tel:{{ telephone }}">{{ telephone }}</a>
          {% if telephone2 %}<a href="tel:{{ telephone2 }}">{{ telephone2 }}</a>{% endif %}
          <a class="nav-mail" href="mailto:{{ email }}">{{ email }}</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <!--div class="hidden-md hidden-sm hidden-lg" style="margin-right: 16px;">
      <button id="dropdown-menu" class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div-->
    <div class="menu flex-list flex-container flex-center flex-justify">
      <div id="logo">
        {% if logo %}
          {% if home == og_url %}
            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
          {% else %}
            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
          {% endif %}
        {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
      </div>
      <button id="dropdown-menu" type="button" class="btn btn-dropdown dropdown-button hide-mobile"><span>Каталог</span></button>
      {{ search }}
      <div class="hide-mobile">{{ cart }}</div>
    </div>
  </div>
  <div id="dropdown_menu">
    <div class="dropdown-menu-bg"></div>
    <div id="dropdown_menu_content">
      <div class="dropdown-categories container">
        {% for category in categories %}
          <a href="{{ category.href }}" class="header-3 hide-mobile">{{ category.name }}</a>
          <div class="dropdown-categories-list mobile">
            <a href="{{ category.href }}" class="header-3">{{ category.name }}</a>{% if category.sub_categories %}<img src="image/src/ic-arrow-up.svg" alt="Раскрыть">{% endif %}
          </div>
          {% if category.sub_categories %}
            <div class="dropdown-subcategories">
              {% for sub in category.sub_categories %}
                <a href="{{ sub.href }}" class="text-medium" title="{{ sub.name }}">{{ sub.name }} <img src="image/src/ic-sub-arrow.svg" class="hide-mobile"></a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="nav-mobile mobile">
    <div class="nav-mobile-content">
      <div class="flex-container flex-center flex-list flex-justify">
        {% if home == og_url %}
          <img src="image/src/ic-home-active.svg" alt="{{ name }}"/>
        {% else %}
          <a href="{{ home }}"><img src="image/src/ic-home.svg" alt="{{ name }}"/></a>
        {% endif %}
        <a href="contacts"><img {% if currentPath == 'contacts' %}src="image/src/ic-location-active.svg"{% else %}src="image/src/ic-location.svg"{% endif %} alt="Контакты"></a>
        <button class="dropdown-button"><img src="image/src/ic-dropdown.svg" alt="Каталог"></button>
        {{ cart }}
      </div>
    </div>
  </div>
</header>
<script>
  $('.dropdown-button, .dropdown-menu-bg').click(function() {
    $('.dropdown-button').toggleClass('active');
    $('#dropdown_menu').toggleClass('active');
    $('.ocf-offcanvas, .ocfilter-mobile-handle .btn').removeClass('active');
    $('.ocfilter-mobile-handle').toggle();
    $('body').toggleClass('no-scroll').removeClass('modal-open');
  });

  $('header .search-button').click(function() {
    $('header .search-field').toggleClass('active');
    $('header .search-field input').focus();
  });

  $('.dropdown-categories-list img').click(function() {
    $(this).toggleClass('active');
    $(this).parent().next().toggleClass('active');
  });

</script>
{{ menu }}
